*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}

.info{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
.action {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: teal;
    color: white;
    border: none;
    border-radius: 4px;
}